body {
  padding-left: 5px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#wrapper {
  width: 480px;
  height: 600px;
}

#chat_in {
  font-size: 0.75em;
  border: 1px solid black;
  width: 100%;
  min-height: 300px;
  overflow-y: scroll;
  clear: both;
}

#chat_out {
  width: 100%;
}

#typing {
  color: #ddd;
  font-style: italic;
}

.avatar {
    float: left;
    margin-right: 3px;
    margin-bottom: 3px;
}

.line {
    clear: both;
    margin: 5px 5px 7px 3px;
}

.line p {
    margin: 0;
    display: inline-block;
}

.nick {
    font-weight: bold;
    padding-right: 3px;
}

.emote {
    font-style: italic;
}
