/* vim: ts=2 sw=2 expandtab */
/* Desktop */
@media only screen and (min-device-width: 481px) {
  body {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0 auto 0 auto;
    width: 50%;
    height: 80%;
  }
  #wrapper {
    width: 100%;
    height: 400px;
  }
  #github {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
  }
  #members {
    display: inline-block;
    position: relative;
    float: right;
    height: 100%;
    width: 15%;
    margin: 0;
    padding: 0;
    /*border: 1px solid black;*/
  }
  #chat_in, #chat_out {
    margin: 0;
    display: inline-block;
    width: 84%;
  }
}
/* iOS/Android */
@media only screen and (max-device-width: 480px) {
  body {
    padding: 0;
    margin: 0;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16pt;
  }
  #wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  #github, #members {
    display: none;
  }
  h2 {
    margin: 0;
    padding: 0;
  }
  #chat_in, #chat_out {
    width: 99%;
  }
}

a {
  color: #00B7FF;
}

#members ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 60%;
  margin: 0;
}

#members ul li {
  margin-bottom: 1px;
  white-space: nowrap;
}

#members ul li .avatar {
  vertical-align: middle;
  margin-right: 1px;
}

#chat_in {
  font-size: 80%;
  border: 1px solid black;
  height: 95%;
  overflow-y: scroll;
  clear: both;
}

#chat_out {
  margin: 0;
  padding: 0;
}

#typing {
  color: #666;
  font-style: italic;
}

.line .avatar {
  float: left;
  margin-right: 3px;
  margin-bottom: 3px;
}

.line {
  clear: both;
  margin: 5px 5px 7px 3px;
}

.line p {
  margin: 0;
  display: inline-block;
}

.nick {
  font-weight: bold;
  padding-right: 3px;
}

.emote {
  font-style: italic;
}
